.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(80, 80, 80);
    -fx-pref-width: 1400px;
}




#nodeTreeView{
    -fx-width: 25%;
}

/* TreeView */

.tree-view, .tree-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.tree-cell:selected {
    -fx-font-weight: bold;
}

.tree-cell {
    -fx-padding: 0.25em;
}


GridPane{
    -fx-hgap:100%;
    -fx-alignment:  center;
}

GridPane  .label{
    -fx-pref-width: 80px;
}

GridPane  .text-field{
    -fx-padding: 10px;
    -fx-pref-width: 20px;
}

